<li class="shop-card" id="{{include.id}}">
<div class="details">
    <h4>{{ include.name }}</h4>
    <p>{{ include.value }}</p>
    <div class="product">
    <img src="{{ include.img }}">
    {% if include.bg-img %}
    <img class="bg-img" src="{{ include.bg-img }}">
    {% endif %}
    </div>
</div>
</li>